.what {
	padding: 50px 0;
	background-color: #fff;
}

.what__row {
	display: flex;
}

.what__image {
	flex: 0 0 430px;
}

.what__image img {
	width: 100%;
}

.what__body {
	padding: 0px 0px 0px 30px;
	flex: 1 1 auto;
}

.what__title {
	margin: 0px 0px 33px 0px;
}

.what__text {
	p {
		margin: 0px 0px 25px 0px;
		padding: 0px 0px 0px 0px;
		font-size: 16px;
	}

	p:last-child {
		margin: 0px 0px 0px 0px;
	}
}