// Base
@import "base/reset";
@import "base/vars";
@import "base/base";

// 
.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

.header {
	grid-area: header;
	padding: 15px;
	background-color: #794f45;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
	align-items: center;

	// .header__logo
	&__logo {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-color: #fff;
		grid-column: 2 / 3;
	}

	// .header__menu
	&__menu {
		grid-column: 3 / 4;
	}

	// .header__list
	&__list {
		display: grid;
		grid-auto-flow: column;
		justify-items: end;
	}

	&__list li {}

	// .header__link
	&__link {
		color: #fff;
	}

	// .header__burger
	&__burger {}
}

.main {
	grid-area: main;
	padding: 30px 15px;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr; 
}

.sidebar {
	grid-column: 2 / 3;
	padding: 15px;
	background-color: #7a956b;
	
	// .sidebar__menu
	&__menu {}
}

.sidebar__list {}

.sidebar__link {}

.content {
	grid-column: 3 / 4;
}

.content__title {}

.content__gallery {}

.gallery {}

.gallery__title {}

.gallery__items {}

.gallery__item {}

.gallery__item_big {}

.content__products {}

.products {}

.products__title {}

.products__items {}

.products__item {}

.products__image {}

.products__name {}

.products__button {}

.footer {
	grid-area: footer;
	background-color: #77608d;
}

.footer__copy {}

.footer__text {}