* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:visited,
a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

address {
  font-style: normal;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  bottom: 0;
}

button, label {
  cursor: pointer;
}

body,
html {
  background: linear-gradient(60deg, rgb(69, 35, 23) 0%, rgb(6, 28, 48) 100%) no-repeat;
  height: 100%;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.visually__hidden {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.card-block {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #474747;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-perspective: 500px;
          perspective: 500px;
}
.card__front, .card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.card__front {
  background-color: rgba(241, 102, 102, 0.5843137255);
}
.card__back {
  background-color: rgba(146, 248, 221, 0.7450980392);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.card:hover .card__front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.card:hover .card__back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.my__card-block {
  min-width: 300px;
  height: 300px;
  background-color: #5b5b5b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my__card {
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-perspective: 500px;
          perspective: 500px;
}
.my__card-front, .my__card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.my__card-front {
  background-color: rgba(121, 253, 132, 0.6196078431);
}
.my__card-back {
  background-color: rgba(172, 121, 253, 0.6196078431);
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.my__card:hover .my__card-front {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.my__card:hover .my__card-back {
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

.ring-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111;
  width: 300px;
  height: 300px;
}

.ring-body__container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ring-body__container p {
  position: absolute;
  color: #fff;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  bottom: -80px;
  letter-spacing: 0.15em;
}

.ring-body__ring {
  margin: -30px;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid #24ecff;
  -webkit-animation: ring-animated 4s linear infinite;
          animation: ring-animated 4s linear infinite;
}
.ring-body__ring::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #24ecff;
  -webkit-box-shadow: 0 0 0 5px rgba(36, 236, 255, 0.2), 0 0 0 10px rgba(36, 236, 255, 0.1333333333), 0 0 0 20px rgba(36, 236, 255, 0.031372549), 0 0 20px #24ecff, 0 0 50px #24ecff;
          box-shadow: 0 0 0 5px rgba(36, 236, 255, 0.2), 0 0 0 10px rgba(36, 236, 255, 0.1333333333), 0 0 0 20px rgba(36, 236, 255, 0.031372549), 0 0 20px #24ecff, 0 0 50px #24ecff;
}
.ring-body__ring:nth-child(2) {
  -webkit-animation: ring-animated2 4s linear infinite;
          animation: ring-animated2 4s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  border-top: 4px solid transparent;
  border-left: 4px solid #93ff2d;
}
.ring-body__ring:nth-child(2)::before {
  content: "";
  position: absolute;
  top: initial;
  bottom: 12px;
  left: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #93ff2d;
  -webkit-box-shadow: 0 0 0 5px rgba(147, 255, 45, 0.2), 0 0 0 10px rgba(147, 255, 45, 0.1333333333), 0 0 0 20px rgba(147, 255, 45, 0.031372549), 0 0 20px #93ff2d, 0 0 50px #93ff2d;
          box-shadow: 0 0 0 5px rgba(147, 255, 45, 0.2), 0 0 0 10px rgba(147, 255, 45, 0.1333333333), 0 0 0 20px rgba(147, 255, 45, 0.031372549), 0 0 20px #93ff2d, 0 0 50px #93ff2d;
}
.ring-body__ring:nth-child(3) {
  -webkit-animation: ring-animated2 4s linear infinite;
          animation: ring-animated2 4s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  position: absolute;
  top: -66.666px;
  border-top: 4px solid transparent;
  border-left: 4px solid #e41cf8;
}
.ring-body__ring:nth-child(3)::before {
  content: "";
  position: absolute;
  top: initial;
  bottom: 12px;
  left: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #e41cf8;
  -webkit-box-shadow: 0 0 0 5px rgba(228, 28, 248, 0.2), 0 0 0 10px rgba(228, 28, 248, 0.1333333333), 0 0 0 20px rgba(228, 28, 248, 0.031372549), 0 0 20px #e41cf8, 0 0 50px #e41cf8;
          box-shadow: 0 0 0 5px rgba(228, 28, 248, 0.2), 0 0 0 10px rgba(228, 28, 248, 0.1333333333), 0 0 0 20px rgba(228, 28, 248, 0.031372549), 0 0 20px #e41cf8, 0 0 50px #e41cf8;
}

@-webkit-keyframes ring-animated {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ring-animated {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes ring-animated2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes ring-animated2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.my__ring-body {
  width: 300px;
  height: 300px;
  background-color: rgb(17, 17, 17);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my__ring-body__container {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.my__ring-body__container p {
  position: absolute;
  top: 140px;
  color: #fff;
  font-family: serif;
  font-weight: 700;
  font-size: 30px;
}

.my__ring-body__ring {
  margin: -10px;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-top: 5px solid transparent;
  border-right: 5px solid rgb(0, 252, 118);
  -webkit-box-shadow: 0 0 6px rgba(0, 252, 118, 0.15);
          box-shadow: 0 0 6px rgba(0, 252, 118, 0.15);
  -webkit-animation: my-ring-animated2 2s linear infinite;
          animation: my-ring-animated2 2s linear infinite;
}
.my__ring-body__ring::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 95px;
  background-color: rgb(0, 252, 118);
  -webkit-box-shadow: 0 0 0 4px rgba(0, 252, 118, 0.2), 0 0 0 8px rgba(0, 252, 118, 0.1);
          box-shadow: 0 0 0 4px rgba(0, 252, 118, 0.2), 0 0 0 8px rgba(0, 252, 118, 0.1);
}
.my__ring-body__ring:nth-child(2) {
  position: absolute;
  top: -60px;
  border-right: 5px solid rgb(252, 0, 97);
  -webkit-box-shadow: 0 0 6px rgba(252, 0, 97, 0.15);
          box-shadow: 0 0 6px rgba(252, 0, 97, 0.15);
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.my__ring-body__ring:nth-child(2)::before {
  background-color: rgb(252, 0, 97);
  -webkit-box-shadow: 0 0 0 4px rgba(252, 0, 97, 0.2), 0 0 0 8px rgba(252, 0, 97, 0.1);
          box-shadow: 0 0 0 4px rgba(252, 0, 97, 0.2), 0 0 0 8px rgba(252, 0, 97, 0.1);
}
.my__ring-body__ring:nth-child(3) {
  border-top: 5px solid rgb(0, 189, 252);
  border-right: 5px solid transparent;
  -webkit-box-shadow: 0 0 6px rgba(0, 189, 252, 0.15);
          box-shadow: 0 0 6px rgba(0, 189, 252, 0.15);
  -webkit-animation: my-ring-animated 2s linear infinite;
          animation: my-ring-animated 2s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}
.my__ring-body__ring:nth-child(3)::before {
  background-color: rgb(0, 189, 252);
  -webkit-box-shadow: 0 0 0 4px rgba(0, 189, 252, 0.2), 0 0 0 8px rgba(0, 189, 252, 0.1);
          box-shadow: 0 0 0 4px rgba(0, 189, 252, 0.2), 0 0 0 8px rgba(0, 189, 252, 0.1);
}

.my__ring-body__planet {
  width: 60px;
  height: 60px;
  position: relative;
  background-color: rgb(18, 0, 77);
  border-radius: 50%;
  position: absolute;
}

@-webkit-keyframes my-ring-animated {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes my-ring-animated {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes my-ring-animated2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes my-ring-animated2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.cube-body {
  width: 300px;
  height: 300px;
  position: relative;
  background: radial-gradient(rgb(5, 211, 245), rgb(6, 150, 253));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 600px;
          perspective: 600px;
}
.cube-body__btn {
  padding: 5px;
  height: 30px;
  background: rgba(53, 5, 143, 0.358);
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, 0.7254901961);
          box-shadow: 0 5px 0 rgba(0, 0, 0, 0.7254901961);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.cube-body__btn:focus {
  top: 12px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.7254901961);
          box-shadow: 0 3px 0 rgba(0, 0, 0, 0.7254901961);
}
.cube-body__btn:focus ~ .cube-body__box #front {
  -webkit-transform: translateZ(80px) rotateY(360deg);
          transform: translateZ(80px) rotateY(360deg);
}
.cube-body__btn:focus ~ .cube-body__box #back {
  -webkit-transform: translateZ(-80px) rotateY(360deg);
          transform: translateZ(-80px) rotateY(360deg);
}
.cube-body__btn:focus ~ .cube-body__box #left {
  right: 80px;
}
.cube-body__btn:focus ~ .cube-body__box #right {
  left: 80px;
}
.cube-body__btn:focus ~ .cube-body__box #bottom {
  top: 80px;
}
.cube-body__btn:focus ~ .cube-body__box #top {
  bottom: 80px;
}

.cube-body__box {
  height: 120px;
  width: 120px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: cube-animate 8s infinite;
          animation: cube-animate 8s infinite;
}
.cube-body__box-card {
  height: 120px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
  background-color: #000;
  border: 2px solid #fff;
  font-size: 32px;
  position: absolute;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
@-webkit-keyframes cube-animate {
  0% {
    -webkit-transform: rotateX(45deg) rotateY(-45deg);
            transform: rotateX(45deg) rotateY(-45deg);
  }
  25% {
    -webkit-transform: rotateX(-45deg) rotateY(-45deg);
            transform: rotateX(-45deg) rotateY(-45deg);
  }
  50% {
    -webkit-transform: rotateX(45deg) rotateY(45deg);
            transform: rotateX(45deg) rotateY(45deg);
  }
  75% {
    -webkit-transform: rotateX(-45deg) rotateY(45deg);
            transform: rotateX(-45deg) rotateY(45deg);
  }
  100% {
    -webkit-transform: rotateX(45deg) rotateY(-45deg);
            transform: rotateX(45deg) rotateY(-45deg);
  }
}
@keyframes cube-animate {
  0% {
    -webkit-transform: rotateX(45deg) rotateY(-45deg);
            transform: rotateX(45deg) rotateY(-45deg);
  }
  25% {
    -webkit-transform: rotateX(-45deg) rotateY(-45deg);
            transform: rotateX(-45deg) rotateY(-45deg);
  }
  50% {
    -webkit-transform: rotateX(45deg) rotateY(45deg);
            transform: rotateX(45deg) rotateY(45deg);
  }
  75% {
    -webkit-transform: rotateX(-45deg) rotateY(45deg);
            transform: rotateX(-45deg) rotateY(45deg);
  }
  100% {
    -webkit-transform: rotateX(45deg) rotateY(-45deg);
            transform: rotateX(45deg) rotateY(-45deg);
  }
}
.cube-body__box #left {
  right: 60px;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}
.cube-body__box #right {
  left: 60px;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}
.cube-body__box #top {
  bottom: 60px;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}
.cube-body__box #bottom {
  top: 60px;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
.cube-body__box #front {
  -webkit-transform: translateZ(60px);
          transform: translateZ(60px);
}
.cube-body__box #back {
  -webkit-transform: translateZ(-60px);
          transform: translateZ(-60px);
}

.my__cube-body {
  width: 300px;
  height: 300px;
  background: radial-gradient(#212121, #000);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.my__cube-body__btn {
  padding: 5px;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  color: black;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 0 rgba(255, 255, 255, 0.5294117647);
          box-shadow: 0 5px 0 rgba(255, 255, 255, 0.5294117647);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.my__cube-body__btn:focus {
  top: 12px;
  -webkit-box-shadow: 0 3px 0 rgba(255, 255, 255, 0.5294117647);
          box-shadow: 0 3px 0 rgba(255, 255, 255, 0.5294117647);
}
.my__cube-body__btn:focus ~ .my__cube-body__box #mFront {
  -webkit-transform: translateZ(80px) rotateZ(360deg);
          transform: translateZ(80px) rotateZ(360deg);
}
.my__cube-body__btn:focus ~ .my__cube-body__box #mBack {
  -webkit-transform: translateZ(-80px) rotateZ(360deg);
          transform: translateZ(-80px) rotateZ(360deg);
}
.my__cube-body__btn:focus ~ .my__cube-body__box #mLeft {
  right: 80px;
}
.my__cube-body__btn:focus ~ .my__cube-body__box #mRight {
  left: 80px;
}
.my__cube-body__btn:focus ~ .my__cube-body__box #mBottom {
  bottom: -80px;
}
.my__cube-body__btn:focus ~ .my__cube-body__box #mTop {
  bottom: 80px;
}

.my__cube-body__box {
  width: 120px;
  height: 120px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: my-cube-animated 8s linear infinite;
          animation: my-cube-animated 8s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

@-webkit-keyframes my-cube-animated {
  0% {
    -webkit-transform: rotateX(55deg) rotateY(-55deg);
            transform: rotateX(55deg) rotateY(-55deg);
  }
  25% {
    -webkit-transform: rotateX(-55deg) rotateY(-55deg);
            transform: rotateX(-55deg) rotateY(-55deg);
  }
  50% {
    -webkit-transform: rotateX(55deg) rotateY(55deg);
            transform: rotateX(55deg) rotateY(55deg);
  }
  75% {
    -webkit-transform: rotateX(-55deg) rotateY(55deg);
            transform: rotateX(-55deg) rotateY(55deg);
  }
  100% {
    -webkit-transform: rotateX(55deg) rotateY(-55deg);
            transform: rotateX(55deg) rotateY(-55deg);
  }
}

@keyframes my-cube-animated {
  0% {
    -webkit-transform: rotateX(55deg) rotateY(-55deg);
            transform: rotateX(55deg) rotateY(-55deg);
  }
  25% {
    -webkit-transform: rotateX(-55deg) rotateY(-55deg);
            transform: rotateX(-55deg) rotateY(-55deg);
  }
  50% {
    -webkit-transform: rotateX(55deg) rotateY(55deg);
            transform: rotateX(55deg) rotateY(55deg);
  }
  75% {
    -webkit-transform: rotateX(-55deg) rotateY(55deg);
            transform: rotateX(-55deg) rotateY(55deg);
  }
  100% {
    -webkit-transform: rotateX(55deg) rotateY(-55deg);
            transform: rotateX(55deg) rotateY(-55deg);
  }
}
.my__cube-body__card {
  width: 120px;
  height: 120px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  border: 2px solid #fff;
  background-color: #01c6fc;
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

#mFront {
  -webkit-transform: translateZ(60px);
          transform: translateZ(60px);
}

#mBack {
  -webkit-transform: translateZ(-60px);
          transform: translateZ(-60px);
}

#mLeft {
  right: 60px;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

#mRight {
  left: 60px;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

#mTop {
  bottom: 60px;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

#mBottom {
  bottom: -60px;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.circle-block {
  height: 300px;
  width: 600px;
  background-color: #161623;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
}
.circle-block__circle {
  position: absolute;
  top: 50%;
  left: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(#03a9f4), to(#23ff2c));
  background: linear-gradient(#03a9f4, #23ff2c);
  border-radius: 50%;
  -webkit-animation: circle-animated 20s linear infinite;
          animation: circle-animated 20s linear infinite;
}
@-webkit-keyframes circle-animated {
  0%, 100% {
    left: 50px;
  }
  50% {
    left: 550px;
  }
}
@keyframes circle-animated {
  0%, 100% {
    left: 50px;
  }
  50% {
    left: 550px;
  }
}
.circle-block__glass {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.circle-block__layer {
  margin: 1px;
  position: relative;
  width: 20px;
  height: 100%;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
.circle-block__layer:nth-child(4n+1) {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.circle-block__layer:nth-child(4n+2) {
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.circle-block__layer:nth-child(4n+3) {
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
.circle-block__layer:nth-child(4n+4) {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.loader-block {
  width: 600px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #2196f3;
  overflow: hidden;
  position: relative;
}
.loader-block__span {
  margin: 0 20px;
  width: 40px;
  height: 150px;
  -webkit-animation: loader-animated 1.8s linear infinite;
          animation: loader-animated 1.8s linear infinite;
}
.loader-block__span:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.loader-block__span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loader-block__span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.loader-block__span:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.loader-block__span:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.loader-block__span:nth-child(6) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.loader-block__span:nth-child(7) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

@-webkit-keyframes loader-animated {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transform: translateX(-40px) scale(1);
            transform: translateX(-40px) scale(1);
  }
  50% {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    opacity: 1;
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transform: translateX(40px) scale(1);
            transform: translateX(40px) scale(1);
  }
}

@keyframes loader-animated {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transform: translateX(-40px) scale(1);
            transform: translateX(-40px) scale(1);
  }
  50% {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    opacity: 1;
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transform: translateX(40px) scale(1);
            transform: translateX(40px) scale(1);
  }
}