/* ---------------------------------------------------------------ОБНУЛЕНИЕ-------- */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 100%;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input ::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	bottom: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

input {
	border: 1px solid #6160606f;
}

/* -----------------------------------------------------------FORM-PRACTICE-------- */
body {
	justify-content: center;
	display: flex;
}

.main__container {
	margin: 0px 50px;
	min-width: 400px;
	/* border: 1px solid; */
}

._container {
	padding: 5px;
	/* border: 1px solid; */
}

.block__left {
	flex: 35%;
}

.block__right {
	flex: 65%;
}

.block__name {
	padding: 5px;
	display: flex;
	align-items: center;
	border-top: 1px solid #61606020;
}

.block__name:last-child {
	border-bottom: 1px solid #61606020;
}

/* ----------------------------------------------------------------------H1-------- */
h1 {
	margin: 20px 0;
	text-align: center;
}

/* -------------------------------------------------------------FORM-ANSWER-------- */
.form__answer {
	display: flex;
}

.answer__text {
	padding: 5px;
}

.radio__items {}

.radio__item {}

/* ---------------------------------------------------------------FORM-NAME-------- */
.form__name {
	/* margin-top: 10px; */
	/* border-bottom: 1px solid #61606067;
	border-top: 1px solid #61606067; */
}

.name__container input {
	padding: 5px;
	width: 100%;
	height: 24px;
}

/* -----------------------------------------------------------ADDRESS-EMPTY-------- */
.form__address {
	margin-top: 16px;
}

.last__address {}

.block__name-address {
	border: none;
}

.block__name-address:last-child {
	border: none;
}

.right__address {
	padding: 5px 0px 5px 0px;
	display: flex;
	border-top: 1px solid #61606020;
	border-bottom: 1px solid #61606020;
}

.right__address-k {
	display: flex;
	align-items: center;
}

.text {
	padding: 0px 5px 0px 5px;
}

/* ----------------------------------------------------------CONTACTS-EMPTY-------- */
.form__contacts {
	margin-top: 16px;
}

.form__contacts>* {
	/* height: 24px; */
}

._container {}

.contacts__telephone {}

.contacts__email {}

.contacts__country {
}

.select {
	margin: 4px;
	min-width: 200px;
	height: 20px;
	border: 1px solid #0000002b;
	background-color: #a8a8a822;
}

.contacts__region {}

.contacts__textarea {}

.contacts__info {}