@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:visited,
a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

address {
  font-style: normal;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  bottom: 0;
}

button,
label {
  cursor: pointer;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #fff;
  font-size: 16px;
}

a {
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #D4C17F;
}

.container {
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
  max-width: 1140px;
}

.visually__hidden {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.none {
  display: none !important;
}

.title__h2 {
  color: #D4C17F;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}

.no-scroll {
  overflow-y: hidden;
}

@media screen and (max-width: 999px) {
  .title__h2 {
    font-size: 28px;
  }
}
.header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242B33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242B33)), url(../img/header/header-bg.jpg);
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url(../img/header/header-bg.jpg);
}

.header__column {
  padding: 30px 0px 74px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 840px;
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.header__top-logo a {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.header__top-logo a:hover {
  opacity: 0.6;
}
.header__top-nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 100%;
}

.header__top-row--mobile {
  padding: 40px 0px 40px 0px;
  position: fixed;
  z-index: 12;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #242B33;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  row-gap: 60px;
}
.header__top-row--mobile .header__top-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0;
}
.header__top-row--mobile .header__top-nav {
  display: block;
  width: unset;
}
.header__top-row--mobile .nav__list {
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
}
.header__top-row--mobile .header__nav-btn {
  position: absolute;
  right: 15px;
  top: 50px;
}

.header__center {
  margin: 0 auto;
  max-width: 560px;
  text-align: center;
}
.header__center .header__title {
  margin: 0px 0px 80px 0px;
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  color: #D4C17F;
}
.header__center-image {
  display: inline-block;
}
.header__center-image:hover .header__center-mouse {
  fill: #fff;
}
.header__center-mouse {
  margin: 0 auto;
  width: 25.5px;
  fill: #D4C17F;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}

.header__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.h-f__right {
  text-align: right;
}

.h-f__info {
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.h-f__info-text {
  margin: 0px 0px 0px 14px;
}
.h-f__info-svg {
  fill: white;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.h-f__info:hover .h-f__info-svg {
  fill: #D4C17F;
}
.h-f__info-map {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.h-f__info-tel {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.header__nav-btn {
  display: none;
}

@media screen and (max-width: 999px) {
  .header__nav-btn {
    display: block;
  }
  .header__top-nav {
    display: none;
  }
  .header__column {
    min-height: unset;
    row-gap: 90px;
  }
  .header__center .header__title {
    font-size: 38px;
    margin: 0px 0px 30px 0px;
  }
  .header__center-mouse {
    margin: 0px 0px 50px 0px;
  }
  .header__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .header__column {
    min-height: unset;
    row-gap: 90px;
  }
  .header__center .header__title {
    margin: 0px 20px 90px 20px;
    font-size: 32px;
    line-height: 48px;
  }
  .header__center-mouse {
    margin: 0px 0px 50px 0px;
  }
  .header__footer {
    gap: 10px;
  }
  .header__footer a {
    font-size: 16px;
  }
}
@media screen and (max-width: 376px) {
  .header__column {
    min-height: unset;
    row-gap: 90px;
  }
  .header__center .header__title {
    margin: 0px 20px 80px 20px;
    font-size: 28px;
    line-height: 38px;
  }
  .header__center-mouse {
    margin: 0px 0px 50px 0px;
  }
  .header__footer {
    gap: 10px;
  }
  .header__footer a {
    font-size: 16px;
  }
}
.nav__list {
  padding-left: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav a {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.benefits {
  padding: 120px 0px 120px 0px;
  position: relative;
  overflow: hidden;
}
.benefits::after {
  content: "II";
  left: calc(50% + 555px);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  line-height: 1.2;
  position: absolute;
  z-index: -1;
  top: 0;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  opacity: 0.02;
}

.benefits__row {
  margin: 0 auto;
  max-width: 824px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}

.benefits__item {
  text-align: center;
}

.benefits__item-image {
  margin: 0px 0px 53px 0px;
}

.benefits__item-text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
}

@media screen and (max-width: 999px) {
  .benefits__item-image {
    margin: 0px 0px 20px 0px;
  }
  .benefits__item-image img {
    width: 60px;
    height: 60px;
  }
  .benefits__item-text {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .benefits__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 100px 30px;
  }
  .benefits__item-text {
    margin: 0 auto;
  }
}
.apartments {
  position: relative;
}
.apartments::before {
  content: "III";
  right: calc(50% + 555px);
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  line-height: 1;
  position: absolute;
  z-index: -1;
  top: 0;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  opacity: 0.02;
}

.apartments__title {
  margin: 0px 0px 88px 0px;
}

.apartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media screen and (max-width: 999px) {
  .apartments__title {
    margin: 0px 0px 40px 0px;
  }
  .apartments__cards {
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}
@media screen and (max-width: 767px) {
  .apartments__cards {
    gap: 30px;
  }
}
.cards {
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: #fff;
}
.cards:hover {
  color: #fff;
}
.cards::before {
  content: "";
  position: absolute;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242B33));
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}
.cards::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 7;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.cards:hover::after {
  opacity: 1;
}

.card__img {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.cards:hover .card__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: contrast(110%) brightness(1.2) saturate(1.2);
          filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  z-index: 9;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

@media screen and (max-width: 767px) {
  .card__title {
    font-size: 20px;
    left: 30px;
    bottom: 24px;
  }
}
@media screen and (max-width: 376px) {
  .card__title {
    font-size: 16px;
  }
}
.cta {
  padding: 180px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.42%, #242B33), color-stop(50.52%, rgba(36, 43, 51, 0)), color-stop(90.1%, #242B33)), -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.9)), to(rgba(36, 43, 51, 0.9))), url(../img/cta/bg-cta.jpg), #C4C4C4;
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url(../img/cta/bg-cta.jpg), #C4C4C4;
}

.cta-title {
  margin: 0px 0px 17px 0px;
}

.cta__row {
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.cta__text-p {
  line-height: 1.5;
}

.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}

@media screen and (max-width: 999px) {
  .cta {
    padding: 120px 0;
  }
  .cta__row {
    grid-template-columns: 1fr;
  }
  .cta__form {
    gap: 20px 25px;
  }
}
@media screen and (max-width: 767px) {
  .cta__text-p {
    font-size: 14px;
  }
  .cta__form {
    grid-template-columns: 1fr;
  }
  .form__privacy {
    grid-row: 4/5;
  }
}
.form__input {
  padding: 12px;
  height: 50px;
  text-align: center;
  font-size: 14px;
  line-height: 1.93;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.form__input::-webkit-input-placeholder {
  color: #BEBEBE;
}
.form__input::-moz-placeholder {
  color: #BEBEBE;
}
.form__input:-ms-input-placeholder {
  color: #BEBEBE;
}
.form__input::-ms-input-placeholder {
  color: #BEBEBE;
}
.form__input::placeholder {
  color: #BEBEBE;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.28);
}
.form__privacy {
  padding: 12px 0;
  text-align: center;
  font-size: 13px;
  line-height: 1.23;
  color: #E7E7E7;
}
.form__button {
  padding: 12px;
  height: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.685;
  color: #fff;
  background-color: #D4C17F;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.form__button:hover {
  background-color: #ddc676;
}

.video {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.video::after {
  content: "IV";
  left: calc(50% + 555px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 1;
  position: absolute;
  z-index: -1;
  top: 0;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  opacity: 0.02;
  top: 50%;
}

.video__link {
  display: inline-block;
  position: relative;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.6);
}
.video__link:hover .video__icon {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
  -webkit-filter: saturate(1.5);
          filter: saturate(1.5);
}

.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

@media screen and (max-width: 376px) {
  .video__icon {
    width: 80px;
    height: 80px;
  }
}
.map-section {
  padding: 180px 0px 0px 0px;
  position: relative;
}
.map-section::before {
  content: "V";
  right: calc(50% + 555px);
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  line-height: 1;
  position: absolute;
  z-index: -1;
  top: 0;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  opacity: 0.02;
  top: 180px;
}

.map-section__title {
  margin: 0px 0px 90px 0px;
}

.map-section__block .map {
  min-height: 360px;
  background-color: #626262;
}

@media screen and (max-width: 999px) {
  .map-section {
    padding: 120px 0px 0px 0px;
  }
  .map-section__title {
    margin: 0px 0px 60px 0px;
  }
}
@media screen and (max-width: 767px) {
  .map-section {
    padding: 60px 0px 0px 0px;
  }
  .map-section__title {
    margin: 0px 0px 30px 0px;
  }
}
.feedback {
  padding: 180px 0px 180px 0px;
}

.feedback__title {
  margin: 0px 0px 40px 0px;
}

.feedback__form {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

@media screen and (max-width: 999px) {
  .feedback {
    padding: 120px 0px 120px 0px;
  }
  .feedback__title {
    margin: 0px 0px 40px 0px;
  }
  .feedback__form {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .feedback {
    padding: 60px 0px 60px 0px;
  }
  .feedback__title {
    margin: 0px 0px 20px 0px;
  }
  .feedback__form {
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer {
  padding: 70px 0 30px 0;
  background-color: #2D343C;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.05em;
}

.footer__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer__logo {
  margin: -12px 0px 0px 0px;
}
.footer__logo-link {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.footer__logo-link:hover {
  opacity: 0.6;
}

.footer__nav-item {
  margin: 0px 0px 15px 0px;
}
.footer__address-item {
  margin: 0px 0px 15px 0px;
}
.footer__address-link-email {
  font-weight: 700;
  color: #D4C17F;
}

.footer__address-icons {
  margin: 20px 0px 0px 0px;
}
.footer__address-icons__link {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.footer__address-icons__link:hover {
  opacity: 0.6;
}
.footer__address-icons .footer__address-icon {
  margin: 0px 20px 20px 0px;
}

@media screen and (max-width: 999px) {
  .footer {
    padding: 40px 0 20px 0;
  }
  .footer__row {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 50px;
  }
}
[class*=copyrights-pane] {
  /* display: none !important; */
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.map:hover [class*=copyrights-pane] {
  opacity: 1;
}

/* Создать свою карту */
[class*=gototech] {
  display: none !important;
}

[class*=ground-pane] {
  -webkit-filter: grayscale(1) sepia(10%);
          filter: grayscale(1) sepia(10%);
}

/* Baloon */
[class*=balloon__layout], [class*=balloon__content] {
  background-color: #242B33 !important;
  color: #fff !important;
}

[class*=balloon__tail]::after {
  background-color: #242B33 !important;
}

[class*=balloon_layout_panel] {
  background-color: #242B33 !important;
}

[class*=balloon__layout], [class*=balloon__content] a {
  color: #D4C17F !important;
}

[class*=balloon__close-button] {
  background: url("./../img/map/cross.svg") 50% no-repeat !important;
  width: 15px !important;
  height: 15px !important;
  margin: 10px 7px;
}