@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:visited,
a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

address {
  font-style: normal;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  bottom: 0;
}

button,
label {
  cursor: pointer;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #fff;
  font-size: 16px;
}

a {
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #D4C17F;
}

.container {
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
  max-width: 1140px;
}

.visually__hidden {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.none {
  display: none !important;
}

.title__h2 {
  color: #D4C17F;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242B33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242B33)), url(../img/header/header-bg.jpg);
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url(../img/header/header-bg.jpg);
}

.header__column {
  padding: 30px 0px 74px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 840px;
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.header__top-nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 100%;
}

.header__center {
  margin: 0 auto;
  max-width: 560px;
  text-align: center;
}
.header__center .header__title {
  margin: 0px 0px 80px 0px;
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  color: #D4C17F;
}
.header__center-image {
  display: inline-block;
}
.header__center-image:hover .header__center-mouse {
  fill: #fff;
}
.header__center-mouse {
  margin: 0 auto;
  width: 25.5px;
  fill: #D4C17F;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}

.header__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.h-f__right {
  text-align: right;
}

.h-f__info {
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.h-f__info-text {
  margin: 0px 0px 0px 14px;
}
.h-f__info-svg {
  fill: white;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.h-f__info:hover .h-f__info-svg {
  fill: #D4C17F;
}
.h-f__info-map {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.h-f__info-tel {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.nav__list {
  padding-left: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav a {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.benefits {
  padding: 120px 0px 120px 0px;
}

.benefits__row {
  margin: 0 auto;
  max-width: 824px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}

.benefits__item {
  text-align: center;
}

.benefits__item-image {
  margin: 0px 0px 53px 0px;
}

.benefits__item-text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
}

.apartments__title {
  margin: 0px 0px 88px 0px;
}

.apartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.cards {
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: #fff;
}
.cards:hover {
  color: #fff;
}
.cards::before {
  content: "";
  position: absolute;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242B33));
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}
.cards::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 7;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.cards:hover::after {
  opacity: 1;
}

.card__img {
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.cards:hover .card__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: contrast(110%) brightness(1.2) saturate(1.2);
          filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  z-index: 9;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}