* {
	padding: 0;
	margin: 0;
	border: 0;
 }
 
 *,
 *:before,
 *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
 }
 
 :focus,
 :active {
	outline: none;
 }
 
 a:focus,
 a:active {
	outline: none;
 }
 
 nav,
 footer,
 header,
 aside {
	display: block;
 }
 
 html,
 body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 100%;
	font-size: 20px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
 }
 
 input,
 button,
 textarea {
	font-family: inherit;
 }
 
 input ::-ms-clear {
	display: none;
 }
 
 button {
	cursor: pointer;
 }
 
 button::-moz-focus-inner {
	padding: 0;
	bottom: 0;
 }
 
 a,
 a:visited {
	text-decoration: none;
 }
 
 a:hover {
	text-decoration: none;
 }
 
 ul li {
	list-style: none;
 }
 
 img {
	vertical-align: top;
 }
 
 input {
	border: 1px solid rgba(97, 96, 96, 0.4352941176);
 }
 
 /* FORM1 */
 .form__1 {
	overflow: auto;
	font-family: "Open Sans", sans-serif;
 }
 .form__1 .button__form1 button.btn__form1, .form__1 .form__form1 input {
	margin: 20px 0;
	padding: 10px 20px;
	border-radius: 10px;
	height: 50px;
	font-size: 18px;
 }
 .form__1 .fon__form1 {
	position: fixed;
	height: 100vh;
	background: rgb(124, 70, 182);
	background: linear-gradient(180deg, rgb(124, 70, 182) 0%, rgb(55, 182, 216) 100%);
	background-size: contain;
 }
 .form__1 ._container {
	margin: 100px 500px;
	text-align: center;
	line-height: 1;
	background-color: #2c2b69;
	border: 5px solid #595799;
	border-radius: 20px;
 }
 .form__1 .title__form1 {
	margin: 0px;
	width: 100%;
	padding: 20px;
	color: #fff;
	background-color: #262157;
	border-radius: 20px 20px 0 0;
 }
 .form__1 .title__form1 .title__form1-text {
	font-size: 40px;
 }
 .form__1 .main__form1 {
	padding: 40px 80px;
	color: #fff;
	font-size: 20px;
 }
 .form__1 .form__form1 input {
	width: 100%;
	display: block;
 }
 .form__1 .form__form1 input:focus {
	outline: 3px solid #595799;
	box-shadow: 0 0 6px #fff;
 }
 .form__1 .checkbox__form {
	margin: 20px 0;
	display: flex;
	text-align: left;
	align-items: center;
	justify-content: start;
	font-size: 14px;
 }
 .form__1 .checkbox__form input {
	margin: 0 30px 0 0;
	height: 20px;
	width: 20px;
 }
 .form__1 .checkbox__form input:focus {
	outline: none;
	box-shadow: none;
 }
 .form__1 .button__form1 {
	text-align: right;
	align-items: center;
 }
 .form__1 .button__form1 button.btn__form1 {
	background-color: #60b02d;
	font-weight: 600;
	color: #fff;
	transition: 0.3s;
 }
 .form__1 .button__form1 button.btn__form1:hover {
	background-color: #437921;
 }