.apartments {
	position: relative;

	&::before {
		content: "III";
		right: calc(50% + 555px);
		transform: translate(+50%, 0);
		line-height: 1;
		@include decorNumber;
	}
}

.apartments__title {
	margin: 0px 0px 88px 0px;
}

.apartments__cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	// grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	gap: 30px;
}