/* Пример работает только со всеми тегами span с классом big__red */
span.big__red {
	font-size: 30px;
	color: green;
}

/* Пример вложенности. Все теги span внутри тега с классом big__red приобретают заданные свойства */
.big__red span {
	color: blue;
	margin: 10px 0px 0px 0px;
}

/* Применяет свойства к тегам p первого уровня вложенности */
.block>p {
	color: aqua;
}