body,
html {
	background: linear-gradient(60deg, rgba(69, 35, 23, 1) 0%, rgba(6, 28, 48, 1) 100%) no-repeat;
	height: 100%;
	background-attachment: fixed;

	font-family:Arial, Helvetica, sans-serif;
} 

.container {
	margin: 0 auto;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
}

.visually__hidden {
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}