/* ---------------------------------------------------------------ОБНУЛЕНИЕ-------- */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 100%;
	font-size: 20px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input ::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	bottom: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

input {
	border: 1px solid #6160606f;
}

/* --------------------------------------------------------------MAIN-BLOCK-------- */
body {
	text-align: center;
	line-height: 1;
	color: #001a3c;
	background-image: url(../image/bg3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

._container {
	margin: 50px 200px;
	padding: 40px 20px;
	border-radius: 40px;
	background: linear-gradient(135deg, rgba(75, 93, 201, 0.7) 0%, rgba(219, 75, 171, 0.7) 100%);
	/* background-color: #668da091; */
	box-shadow: 0px 0px 10px #0022319b;
	height: 700px;
}

.block__forms {
	margin: 30px 0px 0px 0px;
	display: flex;
}

.block__forms div:not(:last-child) {
	/* border-right: 3px solid #fff7f72e; */
	border-right: 1px solid #001a3c;

}

.link__block-lvl3,
.link__block-lvl4,
.link__block-lvl5 {
	padding: 5px;
	min-height: 210px;
	flex: 33.333%;
	/* border-right: 2px solid #fff; */
}

/* .link__block-lvl4 {
	flex: 33.333%;
} */



h1 {
	font-size: 100px;
	text-transform: uppercase;
	/* text-shadow: 0px 0px 2px #ffffffd8; */
}

h2 {
	margin: 0 20px 20px 20px;
	font-size: 55px;
	/* text-shadow: 0px 0px 1px #ffffffd8; */
}

a {
	margin: 3px;
	padding: 0 50px;
	display: inline-block;
	font-size: 28px;
	color: inherit;
	transition: 0.4s;
}

a:hover {
	padding: 10px 50px;
	/* color: ; */
	border: 1px solid #001a3c;
	/* outline: 1px solid rgba(219,75,171,1); */
	border-radius: 30px;
	background: linear-gradient(135deg, rgba(219, 75, 171, 0.4) 0%, rgba(75, 93, 201, 0.4) 100%);
	box-shadow: 0 0 8px #001a3ca0;
}