body, html {
	height: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1130px;

	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.visually__hidden {
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}