/* ---------------------------------------------------------------ОБНУЛЕНИЕ-------- */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 100%;
	font-size: 20px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input ::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	bottom: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

input {
	border: 1px solid #6160606f;
}

/* -----------------------------------------------------------------EX-TAGS-------- */
.ex-block {
	margin: 5px;
	padding: 10px 20px;
	width: 500px;
	border: 1px solid #000;
	text-align: justify;
}

.ex-string {
	padding: 20px;
}

.ex-img {
	width: 100px;
}

/* ---------------------------------------------------------------HOME-WORK-------- */
.home__work {
	margin: 50px;
	padding: 50px;
	border: 1px solid #000;
}

.first__block {
	width: 50%;
}

.span1 {
	margin-top: 20px;
	display: block;
}

.a1 {
	display: block;
	color: #000;
}

.second__block {
	margin-top: 20px;
}

.small__block {
	margin-top: 40px;
	display: inline-block;
}

.block__p1 {
	margin-left: 40px;	
	display: inline-block;
}

.span2 {
	margin: 20px;
	width: 50%;
	display: inline-block;
}

.a2 {
	margin: 20px;
	display: inline-block;
}

.span3 {
	margin: 40px;
	display: block;
}