/* ---------------------------------------------------------------ОБНУЛЕНИЕ-------- */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 100%;
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input ::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	bottom: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

/* ----------------------------------------------------------GENERALS-CLASS-------- */
body {
	display: flex;
	justify-content: center;
}

input {
	padding: 8px;
	border: 1px solid #616060a3;
	font-size: 20px;
}

select {
	padding: 8px 0px 8px 4px;
	border: 1px solid #616060a3;
	font-size: 17px;
	width: 70%;
}

form {
	border-bottom: 1px solid #00000023;
}

._container {
	min-width: 800px;
}

.left-right__block {
	padding: 5px;
	display: flex;
	/* align-items: center; */
	font-weight: 600;
	font-size: 20px;

}

.left__block {
	margin-top: 4px;
	display: flex;
	flex: 31%;
	justify-content: right;
}

.right__block {
	margin-left: 30px;
	display: flex;
	flex: 69%;
	justify-content: left;
}

.right__block input {}

.red__stars {
	padding-top: 3.5px;
	color: red;
	margin-right: 5px;
}

/* --------------------------------------------------------------MAIN-TITLE-------- */
h1 {
	margin-top: 20px;
	text-align: center;
	font-size: 42px;
}

h2 {
	padding: 10px;
	margin: 10px 0;
	text-align: center;
	font-size: 24px;
	font-weight: normal;
}

/* -------------------------------------------------------------FORM-STREET-------- */
.form__street {}

.street {}

.w100 input {
	width: 100%;
}

.form__contact-name{
	margin-top: 10px;
}

/* ----------------------------------------------------------FORM-TELEPHONE-------- */
.form__tel {}

.upper__text {
	color: #616060a3;
	font-weight: normal;
	font-size: 16px;
}

.code__zone .upper__text,
.code__phone .upper__text {
	margin-left: 8px;
}

.tel__right-block {
	display: flex;
}

.code__country input {
	width: 140px;
}

.code__zone input {
	margin-left: 8px;
	width: 140px;
}

.code__phone input {
	margin-left: 8px;
	width: 190px;
}

/* ---------------------------------------------------------FORM-TELEPHONE2-------- */
.form__tel2 {}

.tel2 input {
	width: 288px;
}

/* -------------------------------------------------------------FORM-BUTTON-------- */
.form__button {
	margin-top: 10px;
	padding-bottom: 10px;
}

.form__button button {
	margin-right: 20px;
	padding: 3px 9px;
	background-color: #53535310;
	color: #000;
	font-weight: normal;
	font-size: 18px;
	border: 1px solid #000;
	border-radius: 3px;
	transition: 0.3s ease;
}

.form__button button:hover {
	background-color: #7a797951;
}

.button__send {}

.send {}

.button__cancel {}

.cancel {}

/* ---------------------------------------------------------------NEXT-BACK-------- */
.next__back {
}

.next__back .block__right {
	text-align: right;
}

.block__name{
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.block__name a {
	padding: 3px 10px;
	font-size: 16px;
	font-weight: 700;
	text-transform: lowercase;
	color: #000;
	background-color: #9c9c9c2d;
	border: 1px solid #000;
	border-radius: 5px;
	transition: 0.1s;
}

.block__name a:hover {
	border: 2px solid #000;
}