/* ---------------------------------------------------------------ОБНУЛЕНИЕ-------- */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 100%;
	font-size: 40px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input ::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	bottom: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

/* ---------------------------------------------------------------MAIN-TAGS-------- */
body {
	background: url(bg.jpg) 0 0/cover no-repeat;
	overflow: hidden;
	font-weight: 600;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	margin: 50px 0 30px 0;
	font-size: 24px;
}

input,
button {
	margin: 6px 0;
	padding: 10px 16px;
	height: 40px;
	width: 100%;
	border: 1px solid #00074566;
	border-radius: 12px;
	background-color: #ffffff52;
	font-size: 14px;
}

input::placeholder {
	color: #002865;
}

._container {
	margin: 50px auto;
	max-width: 1100px;
	display: flex;
}

.block__left,
.block__right {
	margin: 20px 110px;
	padding: 60px 40px 40px 40px;
	flex: 50%;
	border-radius: 20px;
	box-shadow: 0 0 15px #0000004c;
	text-align: right;
}

.block__right {
	background: rgb(255, 255, 255);
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.3) 100%);
}

/* --------------------------------------------------------------LEFT-BLOCK-------- */
.left__form-top {}

.block__left {
	color: #00173a;
	background: rgb(255, 255, 255);
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.9) 100%);
}

.left__checkbox {
	display: flex;
	justify-content: right;
	align-items: center;
}

.left__checkbox input {
	margin: 2px 2px 0 0;
	height: auto;
	width: auto;
	display: flex;
	opacity: 70%;
	border: 1px solid #00074566;
}

.checkbox__text {
	margin: 10px;
	font-size: 14px;
}

button.left__sing-in {
	margin-top: 25px;
	color: #fff;
	font-weight: 600;
	text-transform: capitalize;
	background: rgb(0, 37, 94);
	background: linear-gradient(90deg, rgba(0, 37, 94, 0.8) 0%, rgba(97, 0, 61, 0.8) 100%);
}

.left__forgot-pas {
	margin: 2px;
	font-size: 13px;
	text-align: center;
}

.left__forgot-pas a {
	color: #00173a;
}

.left__or {
	margin: 30px 0;
	text-align: center;
	font-weight: 600;
	text-transform: capitalize;
	position: relative;
}

.left__or::before {
	content: "";
	position: absolute;
	top: 7px;
	width: 80px;
	right: 0;
	height: 2px;
	background: #00173ab9;
}

.left__or::after {
	content: "";
	position: absolute;
	top: 7px;
	width: 80px;
	left: 0;
	height: 2px;
	background: #00173ab9;
}

.left__form-bottom {}

button.left__bottom-button {
	text-transform: capitalize;
	font-size: 12px;
	font-weight: 600;
	border: none;
	color: #00173a;
	background: linear-gradient(90deg, rgba(108, 133, 169, 0.6) 0%, rgba(97, 0, 61, 0.15) 100%);
}

.left__bottom-a {
	margin-top: 80px;
	text-align: center;
}
.left__bottom-a a{
	text-decoration: underline;
	font-weight: 700;
	font-size: 12px;
	color: inherit;
}