/* ---------------------------------------------------------------ОБНУЛЕНИЕ-------- */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 100%;
	font-size: 40px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input ::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	bottom: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

/* ---------------------------------------------------------------MAIN-TAGS-------- */
body {
	background: #f46c97;
	font-family: 'Noto Sans JP', sans-serif;
	color: #fff;
	font-size: 20px;
	overflow: hidden;
}

._container {
	margin: 150px 300px;
	padding: 10px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#111949+0,2c3565+35,2c3565+70,111949+100 */
	background: #111949;
	/* Old browsers */
	background: -moz-linear-gradient(left, #111949 0%, #2c3565 25%, #2c3565 75%, #111949 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #111949 0%, #2c3565 25%, #2c3565 75%, #111949 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #111949 0%, #2c3565 25%, #2c3565 75%, #111949 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111949', endColorstr='#111949', GradientType=1);
	/* IE6-9 */
	box-shadow: 0 0 35px #111949f3;
}

h2 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	color: #f46c97;
}

input,
textarea {
	padding: 4px 10px 4px 10px;
	height: 35px;
	max-width: 180px;
	background-color: #616a9a94;
	border-radius: 8px;
	color: #fff;
}

input::placeholder,
textarea::placeholder {
	color: #fff;
}

textarea {
	display: block;
	min-height: 100px;
	min-width: 370px;
	resize: none;
}

button {
	padding: 2px 22px;
	height: 35px;
	max-width: 180px;
	text-transform: uppercase;
	line-height: 1;
	background-color: #f46c97;
	border-radius: 8px;
	color: #fff;
	transition: 0.3s all ease;
}

button:hover {
	box-shadow: 0px 0px 12px #00000080;
	background-color: #fb467f;

}


/* ----------------------------------------------------------------NAV-TAGS-------- */
.nav ul {
	margin: 30px auto;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
}

.nav a {
	margin: 25px;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	transition: 0.3s all ease;
}

a.last__a {
	font-weight: 700;
	color: #f46c97;
	transition: 0.3s all ease;
}

.nav a:hover {
	/* font-weight: 700; */
	text-decoration: underline;
	color: #f46c97;
	text-shadow: 3px 3px 5px #000000d9;
}

/* ------------------------------------------------------------CONTENT-TAGS-------- */
.content {
	margin: 80px 120px;
	display: flex;
	align-items: top;
	justify-content: space-between;
}

.content__left-block {
	margin: 0px 70px 0px 0px;
	padding: 10px;
}

.content__right-block {}

/* --------------------------------------------------------------LEFT-BLOCK-------- */
.left-block__text {
	margin: 4px 0px 16px 1px;
	font-size: 14px;
}

.left-block__form {}

.form__name {
	display: flex;
}

.first__name {
	margin: 0px 12px 12px 0px;
}

.second__name {
	margin: 0px 12px 12px 0px;
}

.form__contacts {
	display: flex;
}

.contacts__tel {
	margin: 0px 12px 12px 0px;
}

.contacts__email {
	margin: 0px 12px 12px 0px;
}

.form__textarea {}

.form__button {
	margin: 10px 0;
}

/* -------------------------------------------------------------RIGHT-BLOCK-------- */
.content__right-block h2 {
	line-height: 1.2;
}

.right-block__contact {
	margin: 10px 0px 0px 0px;
}

.right-block__address,
.right-block__tel,
.right-block__shedule {
	margin: 16px 0px 16px 1px;
	font-size: 14px;
}

.right-block__shedule {
	margin-bottom: 20px;
}

.right-block__follow {
	df
}

.right-block__link {
	display: flex;
}

.right-block__link a {
	margin: 8px 20px 0px 0px;
	display: flex;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	transition: 0.3s all ease;
}

.right-block__link a:hover {
	text-decoration: underline;
	text-shadow: 3px 3px 8px #000000e6;
}