/* ---------------------------------------------------------------ОБНУЛЕНИЕ-------- */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 100%;
	font-size: 40px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input ::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	bottom: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

/* ---------------------------------------------------------------MAIN-TAGS-------- */
body {
	font-family: 'Ubuntu', sans-serif;
	line-height: 1;
}

._container {
	margin: 100px 300px;
	min-height: 600px;
	border-radius: 15px;
	box-shadow: 5px 5px 28px #7c7c7cfe;
}

h2 {
	font-size: 46px;
	font-weight: 500;
	text-transform: capitalize;
}

.block__lr {
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	padding: 14px 70px;
	min-height: 50px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	border-radius: 25px;
	border: 2px solid #fff;
	background-color: #ffffff00;
	transition: 0.3s all ease;
}


/* --------------------------------------------------------------LEFT-BLOCK-------- */
.block__left {
	padding: 50px;
	color: #fff;
	text-align: center;
	height: 600px;
	flex: 50%;
	background: rgb(255, 75, 32);
	background: linear-gradient(90deg, rgba(255, 75, 32, 1) 0%, rgba(255, 70, 75, 1) 100%);
	border-radius: 15px 0 0 15px;
}

.left__h2 {
	margin-top: 150px;
}

.left__text {
	margin: 40px 0;
	word-spacing: 2px;
	line-height: 1.6;
	font-size: 18px;
	font-weight: 400;
}

button.left__button:hover {
	background-color: rgb(255, 53, 26);
	box-shadow: 0 0 10px #430101;
}


/* ---------------------------------------------------------------MAIN-TAGS-------- */
.block__right {
	flex: 50%;
}