/* FORM1 */
.form__1 {
	overflow: auto;
	font-family: 'Open Sans', sans-serif;

	// Шаблоны
	%input__btn {
		margin: 20px 0;
		padding: 10px 20px;
		border-radius: 10px;
		height: 50px;
		font-size: 18px;
	}

	.fon__form1 {
		position: fixed;
		height: 100vh;
		background: rgb(124, 70, 182);
		background: linear-gradient(180deg, rgba(124, 70, 182, 1) 0%, rgba(55, 182, 216, 1) 100%);
		background-size: contain;
	}

	._container {
		margin: 100px 500px;
		text-align: center;
		line-height: 1;
		background-color: #2c2b69;
		border: 5px solid #595799;
		border-radius: 20px;
	}

	.title__form1 {
		margin: 0px;
		width: 100%;
		padding: 20px;
		color: #fff;
		background-color: #262157;
		border-radius: 20px 20px 0 0;

		& .title__form1-text {
			font-size: 40px;
		}
	}

	.main__form1 {
		padding: 40px 80px;
		color: #fff;
		font-size: 20px;
	}

	.form__form1 {
		input {
			@extend %input__btn;
			width: 100%;
			display: block;

			&:focus {
				outline: 3px solid #595799;
				box-shadow: 0 0 6px #fff;
			}
		}
	}

	.checkbox__form {
		margin: 20px 0;
		display: flex;
		text-align: left;
		align-items: center;
		justify-content: start;
		font-size: 14px;

		input {
			margin: 0 30px 0 0;
			height: 20px;
			width: 20px;

			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}

	.checkbox__text {}

	.button__form1 {
		text-align: right;
		align-items: center;

		button.btn__form1 {
			@extend %input__btn;
			background-color: #60b02d;
			font-weight: 600;
			color: #fff;
			transition: 0.3s;

			&:hover {
				background-color: #437921;
			}
		}
	}
}